#panel_administracion {
 
    width: 720px;
    height: 1000px;
    background-color: rgb(0,0,0,0.7);
    border: 3px solid white;
    position: relative;
    left: 30%;

}
#color{
    color:white;
    position:relative;
    margin-left: 30%;
    margin-top:5%;
}
.margin{
    margin-top: 2%;
    
}
.margin2{
    position: relative !important;
    right: 55px;
    margin-right: 5% !important;
}