.amicsDiv{
    height: 55vh;
    width: 30vw;
    margin: auto;
}
.llistat{
    text-align: center;
    padding: 30px;
    margin: 0 auto;
    
}

.TaulaUsuaris table{
    background-color: #3B5F5D;
    width: 70%;
    margin: 0 auto;
    
}

.TaulaUsuaris > div > div:nth-child(1){
    width: 80%;
    margin: 0 auto;
}
.TaulaUsuaris > div > div:nth-child(3){
    width: 80%;
    margin: 0 auto;
}
.TaulaUsuaris table thead:last-child {
    display: none;
}
.formulariAmics {
    position: relative;
    height: 50vh;
    width: 50vw;
    z-index: 20;

}
.monstresDataGrid {
    padding-top: 40px;
    padding: 60px;
    text-align: center;
    border: none;
}
.buttonsAmic {
    position: absolute;
    bottom: 40px;
    right: 100px;
    
}
.statsAmic {
    margin-left: auto;
    margin-right: auto;
    border-collapse: separate;
    border-spacing: 15px;
    font-size: 50pt;
}
.taulaSolicituds {
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 90%;
    text-align: center;    
    
}

.ColorAmigosTexto{
    color: white;
    padding-left: 7%;
}

.taulaSolicituds td, .taulaSolicituds th {
    border: 1px solid #ddd;
    padding: 8px;
}
.taulaSolicituds tr{
    background-color: white;
}

.taulaSolicituds tr:hover {
    background-color: gray;
    cursor: pointer;
}

.taulaSolicituds th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #04AA6D;
    color: white;
}

.MenuAmics button{
    background-color: #8C3737;
    border:4px solid #C7ACA6;
    border-radius: 10px;
    color: #C7ACA6;
    height: 4vh;
    width: 100%;
    margin-right: 2%;
    font-weight: bold;
}

.MenuAmics button:hover{
    color:white;
    cursor: pointer;
}

.MenuAmics{
    height: 12%;
    width: 80%;
    background-image: url("https://bestiario.s-ul.eu/EQii06iq");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 3%;
}

.TaulaUsuaris table {
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 90%;
    text-align: center;
    
}
.TaulaUsuaris table td, .TaulaUsuaris table th {
    border: 1px solid #ddd;
    padding: 8px;
}
.TaulaUsuaris table tr{
    background-color: white;
}

.TaulaUsuaris table tr:hover {
    background-color: gray;
    cursor: pointer;
}

.TaulaUsuaris table th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #04AA6D;
    color: white;
}
ul {
    list-style-type: none !important;
}
ul li {
    display: inline-block;
    margin: 0 2% 0 2%;
}