@font-face {
    font-family: myFirstFont;
    src: url("../Fonts/DeterminationMonoWebRegular-Z5oq.ttf");
  }
#lista{
    left: 10%;
    text-align: center;
    border: black 5px solid;
   background-image: url("https://bestiario.s-ul.eu/WlbYJXa2");
    position:relative;
    width: 80%;
    height: 30%;
    color: white;
    font-style: normal;
        background-size: cover;
}
#estadistiques2{
    text-align: center;
    left: 10%;
    margin-top: 2%;
    border: white 5px solid;
    background: rgb(0,0,0,0.8);
    position:relative;
    width: 80%;
    height: 20%;
    color: white;
    font-style: normal;
}
#boto {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: gray;
    border: none;
    color: white;
    padding: 64px 96px;
    text-align: center;
    font-size: 42px;
    cursor: pointer;
    border-radius: 20px;
    
}
.imatges {
    width: 85px;
    height: 95px;
    margin-left:0%;
    margin-right:50%;
}
.imatges3:hover {
    opacity: 30%;
    cursor: pointer;
}
#monstresPlayer1 {
    top: 75px;
    position: relative;
    left: 40px;

}
#monstresPlayer2 {
    top: 95px;
    position: absolute;
    right: 40px;

}
#imatge2 {
    transform: scaleX(-1);
}
.monstre{
    animation-name: example2;
    animation-duration: 1s;
}
.monstreBot{
    animation-name: example;
    animation-duration: 1s;
    animation-delay: 0.1s;
}
@keyframes example {
    0%   {right:20px; top:80px;}
    50%  {right:400px; top:80px;}
    100% {right:20px; top:80px;}
}
@keyframes example2 {
    0%   {left:20px; top:80px;}
    50%  {left:400px; top:80px;}
    100% {left:20px; top:80px;}
}
#pbar{
    z-index: 10;
}
body{
    background-color: black;
}
progress {
    -webkit-appearance: none;
  }
  
  ::-webkit-progress-bar {
     background-color: orange;
  }
  #celda{
      font-size: 80%;
      right:15%;
      position: relative;
  }
  #text_ent_nom{
      margin-top: 2%;
      margin-left: 0%;
      text-align: center;
  }
  #cont_ent{
      width: 50% !important;
  }
  #row_ent{
      width: 100%;
  }
  #stats{
      background-color: black;
      border:white 2px solid;
      width: 50%;
      height: 80%;
      margin-top: 18%;
      margin-left: 25%;
      position: relative;
  }
  #daño{
      color:red;

  }
  #vida{
      color:green;
  }
  #armadura{
      color:Gray;
  }
  #esquiva{
      color:white;
  }
  #nombre{
      font-size: 10%;
  }
  #boton_j{
      width: 30%;
      margin-left: 60%;
      bottom: 100px ;
      position: relative;
  }
  
#txt_sta{
    left: 30%;
    bottom:5%;
    position: relative;

  }
  #separador{
      left: 25%;
      position: relative;
  }
  #pantalla_registro{
      background-image: url("https://bestiario.s-ul.eu/PuoHNZPC");
      background-size: cover;
      width:53.5%;
      height: 20%;
      margin-left: 25%;
      color:white;
      padding-top: 2%;
      padding-left: 2%;
  }
.regtxt{
    display: block;
    width: 100%;
}
#registro_texto{
    width:90%;
    height: 160px;
    background-color: rgb(0,0,0,0.8);
    overflow-y: scroll;
    margin-left:4%;
    margin-top: 5%;
}
#Capsula_fin_Partida{
    background-color: black;
    color: white;
    border: 2px white solid;
    width:40%;
    height: 10%;
    position: relative;
    margin-left: 30%;
    bottom: 52%;
    z-index: 10;
}
#barra_bot{
    position: relative;
    bottom: 95px;
    left: 30%;
}
#barra_jugador{
    position: relative;
    top: 17px;
    right: 30%;
}
.invertir-color {
    -webkit-filter: invert(100%);
   filter: invert(100%);    
}
#narrador{
    margin-top:20%;
}
#boton_expedicion{
    background-color:rgba(206, 7, 7, 0.3);
    background-repeat: no-repeat;
    background-size: fixed;
    border: 2px solid white;
    color: white;
    width: 20%;
    height: 2%;
    position: relative;
    margin-left: 40%;
}
#text_ent_nom,#boton_expedicion{
    font-family: myFirstFont;
}