#inv_expedicion{
    width: 80%;
    height: 10%;
    background-color: rgb(0,0,0,0.5);
    margin-left: 10%;
}
#Title_expedicion{
    font-family: myFirstFont;
    color:white;
    margin-left: 40%;
}

#stats_exp{
    background-color: black;
    border: 2px solid white;
    color:white;
    width: 30%;
    text-align: center;
    padding-left: 5%;
    margin-left: 90%;
    bottom: 83%;
    position: relative;
    z-index: 5;
}
#img_expedicion{
    width: 100%;
}
#celda_expedicion{
    width: 100%;
    position: relative;
    right: 15%;
}
#arena_aleatoria{
    width: 100%;
    height: 60%;
    background-color: black;
    border: white 2px solid;
}
#boton_expedicion_jugar{
    width: 100px;
    height: 50px;
    background-color:white;
    z-index: 5;
}
#arenadecombate{
    left: 10%;
    text-align: center;
    border: white 5px solid;
   background-image: url("https://bestiario.s-ul.eu/WlbYJXa2");
    position:relative;
    width: 80%;
    height: 30%;
    color: white;
    font-style: normal;
     background-size: cover;
     z-index: 5;
     bottom: 50%;
}
#player{
    position: relative;
    margin-top: 15%;
    margin-right: 70%;
}
#tienda{
    width: 80%;
    height: 60%;
    background-color: black;
    border: white 2px solid;
    color: white;
    margin-left: 9.4%;
    
}
#titulo_tienda{
    font-family: myFirstFont;
    margin-left: 35%;
}
#row_title_tienda{
    background-color: white;
    color: black;
    width: 100.5%;
    position: relative;
    left: 2.5%;
}
#boton_perdiste{
width:100%;
height: 50px;
background-color: white;
font-size: 100%;
color:red;
margin-top: 10%;
margin-left: 30%;
border: red 2px solid;
}
#fin_game{
    width: 20%;
    height: 20%;
    z-index: 15;
    position: relative;
    bottom:70%;
    margin-left: 35%;
}
#boton_ganaste{
    width:100%;
    height: 50px;
    background-color: white;
    font-size: 100%;
    color:green;
    margin-top: 10%;
    margin-left: 30%;
    border: green 2px solid;
    }
    #narrador2{
        position: relative;
        bottom:75%;
    }
    #pantalla_registro2{
        margin-top: 20%;
        background-image: url("https://bestiario.s-ul.eu/PuoHNZPC");
        background-size: cover;
        width:55%;
        height: 170px;
        margin-left: 25%;
        color:white;
        padding-top: 2%;
    }
    #filas{
        font-family: myFirstFont;
        margin-top: 1%;
        position: relative;
       width: 93%;
       left: 4.3%;
       border: brown 5px solid;
        padding-top: 5%;
        padding-right: 2%;
        background: radial-gradient(circle, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0.2) 100%);
    }
    #registro_texto2{
     width:90%;
    height: 120px;
    background-color: rgb(0,0,0,0);
    overflow-y: scroll;
    position: relative;
   margin-top: 5%;
    }