body {
  background-color: black;
}
#tit_login {
  position: relative;
  width: 20vw;
  height: 8vh;
}
#cartel {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: white;
  text-align: center;
  width: 35%;
  height: 10%;
  background-size: cover;
  background-repeat: no-repeat;
  background: rgb(0, 0, 0);
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0.9623249983587185) 0%,
    rgba(68, 153, 109, 0.960364214044993) 100%
  );
  position: relative;
  left: 30%;
}

#tablero {
  z-index: 1;
  bottom: 5%;
  left: 10%;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: white;
  text-align: center;
  width: 75%;
  height: 55%;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

#formulario1 {
  top: 30%;
  height: 40%;
  z-index: 0;
  position: relative;
  left: 4%;
  /*background: rgb(255, 255, 255);*/
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.5886555305716037) 0%,
    rgba(223, 223, 223, 0.5242297602634804) 49%,
    rgba(0, 0, 0, 0.42619054457720584) 100%
  );
}

#formulario2 {
  bottom: 10%;
  height: 40%;
  z-index: 0;
  position: relative;
  left: 58%;
  /*background: rgb(255, 255, 255);*/
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.5886555305716037) 0%,
    rgba(223, 223, 223, 0.5242297602634804) 49%,
    rgba(0, 0, 0, 0.42619054457720584) 100%
  );
}

/*             */
#login {
  width: 100%;
  height: 25vh;
  position: relative;
  padding-top: 2vh;
  z-index: 20;
}

.background_Formularis{
  background-image: url("https://bestiario.s-ul.eu/hDM0PBPD");
  background-size:100% 100%;
  background-repeat: no-repeat;
}

.divsLabels{
  height: 3vh !important;
}

label{
  vertical-align: top;
}

#Register {
  width: 100%;
  height: 32vh;
  padding-top: 2vh;
  position: relative;
  /* bottom: 3vh; */
}
.App {
  z-index: 1;
  width: 35vw;
  height: 100vh;
  background-image: url("https://bestiario.s-ul.eu/62ytrYBj");
  background-size: cover;
  background-repeat: no-repeat;
  margin: auto;
}
#log_id {
  /* border: black 1vw solid; */
  position: relative !important;
}

.botonEnter{
  z-index: 10;
  position: relative;
  height: 8vh;
  width: 10vw;
  cursor: pointer;
  vertical-align: top;
}

.botonEnter:hover{
  opacity: 90%;
}
#botonlog {
  top: 7vh;
}
#boton2 {
  bottom: 13vh;
}
#row_log {
  margin: auto;
  position: relative;
  width: 56%;
  color: white;
  font-style: normal;
  padding: 0;
}
#cadena_isq {
  /* position: relative;
  z-index: 30;
  right: 7vw;
  bottom: 2%;  */
  position:relative;
  right:7vw;
  z-index: 30;
  height: 16vh;
  bottom: 1.5vh;
  vertical-align: top;
}
#cadena_de {
  position: relative;
  z-index: 30;
  left: 7vw;
  bottom: 1.5vh;
  height: 16vh;
  vertical-align: top;
}
.input {
  background-image: url("https://bestiario.s-ul.eu/1LKFFVav");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
  margin: auto;
  width: max-content;
  height: min-content;
}
.inptxt {
  width: 8vw;
  height: 2.5vh;
  vertical-align: top;
  margin:1vh;
  font-size: 2vh;
}

.containerlog {
  width: 100%;
  height: 83vh;
  position: relative;
  top: 2%;
}
#log_title {
  color: white;
  position: relative;
}

#log_title > h3{
  font-size:3vh;
}

.row label{
  font-size:2vh;
}

#titulo {
  padding-top: 4vh;
  margin:auto;
  font-size: 0;
}
#row_reg {
  left: 22%;
  bottom: 5%;
  position: relative;
  width: 56%;
  height: 30%;
  color: white;
  font-style: normal;
  z-index: 1;
}
#cadena_2 {
  position: absolute;
  z-index: 0;
  left: 14vw;
  height: 20vh;
  width: 8vw;
  top:24vh;
}
#cadena_2_2 {
  position: relative;
  z-index: 0;
  left: 0%;
  bottom: 10%;
  height: 20vh;
  width: 8vw;
}
#todo {
  background-image: url("https://bestiario.s-ul.eu/ozR5i8Yg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  font-family: myFirstFont;
}

/*--------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
}
body {
  background: #000;
  height: 100vh;
}

.clouds {
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  display: block;
}
.clouds {
  background: transparent url("https://bestiario.s-ul.eu/xfvvGZ95");
  /* background-repeat: no-repeat; */
  background-size: 100% 100%;
  z-index: 3;
  height: 100vh;
  animation: cloudsFrames 300s linear infinite;
}
.fogContainer {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  z-index: 7;
}
.fog {
  position: absolute;
  left: -50%;
  top: -30%;
  width: 200%;
  height: 200%;
  animation-name: fogFrames;
  animation-duration: 60s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  background: linear-gradient(
    -5deg #00000000 0%,
    #ffffff15 40%,
    #74590121 45%,
    #8b845b21 55%,
    #00000000 100%
  );
}
@keyframes fogFrames {
  0% {
    transform: none;
  }
  10% {
    transform: scaleY(0.5) translate(5%, -2%) rotate(15deg);
  }
  25% {
    transform: scaleY(0.3) translate(10%, 7%);
  }
  50% {
    transform: scaleY(0.7) rotate(-15deg);
  }
  75% {
    transform: scaleY(1) translate(7%, -2%);
  }
  100% {
    transform: none;
  }
}
@keyframes twinkleFrames {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}
@keyframes twinkleFrames2 {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000px 5000px;
  }
}
@keyframes cloudsFrames {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000px 0;
  }
}

@media all and (min-width: 50px) and (max-width: 640px) {
  .input{
    height: 5vh;
  }
  .inptxt{
    height: 0.9vh;
    font-size: 1.2vh;
  }
  #titulo {
    padding-top: 3vh;
  }
}
@media only screen and (max-width: 600px) {
  #log_id {
    width: 100vw;
  }
  #tit_login{
    width: 70vw;
  }
  .inptxt {
    width: 30vw;
    height: 2vh;
    font-size: 2.2vh;
  }
  #cadena_2 {
    left: 50%;
    height: 20vh;
    width: 15vw;
    top:24vh;
    transform: translate(-50%, -50%);
  }
  #cadena_isq {
    right:18vw;
    height: 16vh;
    bottom: 2vh;
  }
  #cadena_de {
    left: 18vw;
    bottom: 2vh;
    height: 16vh;
  }
  .botonEnter{
    height: 7vh;
    width: 22vw;
  }
  #cadena_2_2 {
    height: 20vh;
    width: 15vw;
  }
}