
.perfil {
    position: relative;
    left: 30%;
}

/*----------------------------------------------------*/

/*----------------------------------------------------*/
#submenu{
  margin-top: 10%;
  left:25%;
  position:relative;
  background-image: url("https://bestiario.s-ul.eu/EQii06iq");
  background-repeat: no-repeat;
  background-size: cover;
  width: 51%;
  height: 4.1%;

  margin-bottom: 2%;
}
#boton_menu{
  margin-top: 2%;
  margin-right: 2%;
  margin-left: 2%;
}
.boton{
  margin-left: 4%;

  position: relative;
  top:9px;
}
.header{
  background-image: url("https://bestiario.s-ul.eu/olsd7OCU");
  color:white;
  height: 7%;
}
#texto_header{
  position: relative;
  top:25%;
}
#perfil{
  position:relative;
}
.perfil{
  width:720px;
  height: 1080px;
  background-image: url("https://bestiario.s-ul.eu/62ytrYBj");
}
.row_inv{
  width: 100%;
  margin-left: 0%  !important;
  height: 70px;
}


#contenido_inv{
  width: 100%;
}
#inventario_1{
  left: 10%;
  text-align: center;
  border: black 1px solid;
  background-image: url("https://bestiario.s-ul.eu/PuoHNZPC");
  background-repeat: no-repeat;
  background-size: cover;
  position:relative;
  width: 80%;
  height: 30.7%;
  color: white;
  font-style: normal;
}
#title_invent{
  background-image: url("https://bestiario.s-ul.eu/eZo23yyt");
  background-repeat: no-repeat;
  left: 19%;
  bottom: 2%;
  position: relative;
  height: 25%;
}
#contenido_inv{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 100px;
  grid-gap: 20px;
}
.container{
  width: 100%;
  height: 100%;
}
#log_title{
  color: white;
}
#imgs_celdas_stats{
  margin-top: 0%;
  width: 100% !important;
  height: 100% !important;
}
#titulo{
  color:white;
  margin-left: 20%;
  font-size: 200%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#Stats{
  text-align: center;
  margin: auto;
  margin-top: 10%;
  border: white 5px solid;
  background: rgb(0,0,0,0.8); ;
  position:relative;
  width: 75%;
  height: 30%;
  color: white;
  font-style: normal;
}
#img_prueba{
  position: relative;
  margin-left: 5% !important;
  width: 180px;
  height: 180px;

}
#stats_img{
  margin-left: 10%;
  background-color: rgb(0,0,0,0.8); ;;
  width: 130px;
  height: 120px;
}
#desc{
  border:1px white solid;
  background: rgb(198,198,198,0.5); ;
  padding-left: 2%;
  font-size: 90%;
  text-align: center;
}
#nivel_puntos{
  margin-top: 2%;
  margin-left: 5%;
}