.Pvpcontainer {
  width: 80%;
  height: 30%;
  background-image: url("https://bestiario.s-ul.eu/WlbYJXa2");
  background-size: cover; /* esta puesto asi porque con 100% se bugea dejando un espacio entre el borde y el div en si*/
  background-repeat: no-repeat;
  margin: auto;
  border: 0.6vh solid black;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.TriaMontruo {
  width: 80%;
  height: 30%;
  background-color: rgb(0, 0, 0, 0.8);
  margin: auto;
  margin-top: 2%;
  border: 0.6vh solid white;
}
.imagenesTria {
  height: 80%;
}

.TriaMontruo .mon {
  color: white;
  display: inline-block;
  width: 25%;
  height: 50%;
  position: relative;
  text-align: center;
}

.hoverMonstruo {
  display: none;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.452);
}

.alignTextTriar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Triar {
  width: 100%;
  height: 50%;
  background-color: rgba(21, 165, 21, 0.507);
  cursor: pointer;
}

.Triat {
  width: 100%;
  height: 50%;
  background-color: #701D1D;
  cursor: pointer;
}

.Triar:hover {
  background-color: #008000;
}

.VeureEstadistiques {
  width: 100%;
  height: 50%;
  background-color: #0048b385;
  cursor: pointer;
}

.VeureEstadistiques:hover {
  background-color: #0047b3;
}

.mon:hover > .hoverMonstruo {
  display: block;
}


.BuscandoBatalla {
    width: 60%;
    height: 40%;
    background-color: #701d1d;
    color:white;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top:0.4vh solid #902D2D;
    border-right: 0.4vh solid #370F0F;
    border-bottom: 0.8vh solid #230C0C;
    border-left: 0.4vh solid #722222;
    cursor: pointer;
}

.BuscandoBatalla:hover{
  background-color: #571717;
}
.AreaCombate{
  height: 20vh;
  width: 100%;
  position: absolute;
  bottom: 5vh;
  text-align: center;
  left:0;
}

.AreaCombate img:nth-of-type(1){
  width: auto;
  height: 80%;
  position: absolute;
  left:0;
}

.AreaCombate img:nth-of-type(2n){
  width: auto;
  height: 80%;
  position: absolute;
  right: 0;
  transform: scaleX(-1);
}

.monstruoSeleccionado{
  position: absolute;
  height: 94%;
  width: 93.5%;
  border:0.5vh solid #802828;
}

.buscantOponent{
  top:0;
}

.buscantDiv{
  height: 100%;
  width: 100%;
  color:#FF9C9C;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #571717;
}

.BatallaEncontrada{
  width: 60%;
  height: 40%;  
  color:white;
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1d7024;
  border-top:0.4vh solid #2d9032;
  border-right: 0.4vh solid #12370f;
  border-bottom: 0.8vh solid #0c230d;
  border-left: 0.4vh solid #297222;
}

.ProgressBarJugador{
  position:absolute;
  left:1%;
  top:2%;
  width: 45%;
  height: 8%;
}
.ProgressBarAdversario{
  position:absolute;
  right:1%;
  top:2%;
  width: 45%;
  height: 8%;
  transform: scaleX(-1);
}
.Juego progress[value]::-webkit-progress-value{
  background-color: #66AC1A;
}
.Juego progress::-webkit-progress-bar{
  background-color: #9D1C0D;
  border:0.2vh solid white;
}

.RegistroPartida{
  margin: auto;
  transform: translateY(10%);
  height: 35%;
  width: 80%;
  color:white;
  padding-left: 5%;
  padding-top: 5%;
  overflow-y: scroll;
}

.monstrePlayer1{
  animation-name: animacioPlayer1;
  animation-duration: 1s;
}
.monstrePlayer2{
  animation-name: animacioPlayer2;
  animation-duration: 1s;
  animation-delay: 0.1s;
}
@keyframes animacioPlayer2 {
  0%   {right:20px;}
  50%  {right:400px;}
  100% {right:20px;}
}
@keyframes animacioPlayer1 {
  0%   {left:20px;}
  50%  {left:400px;}
  100% {left:20px;}
}

.ResultadoFinal{
  z-index: 50;
  cursor: pointer;
}
.ResultadoFinal:hover{
  background-color: #16551b;
}